:root {
  --bg-color-main: #302e2b;
  --text-color-main: #fff;
  --bg-color-auxiliary-1: rgba(0, 0, 0, 0.2);
  --bg-color-auxiliary-2: rgba(0, 0, 0, 0.6);
  --bg-color-auxiliary-3: rgba(0, 0, 0, 0.1);
  --board-light: #EBECD0;
  --board-dark: #739552;
}

[data-theme="bubblegum"]:root {
  --bg-color-main: #ea5168;
  --text-color-main: #fff;
  --bg-color-auxiliary-1: rgba(0, 0, 0, 0.2);
  --bg-color-auxiliary-2: rgba(0, 0, 0, 0.6);
  --bg-color-auxiliary-3: rgba(0, 0, 0, 0.1);
  --board-light:#eec4e0;
  --board-dark: #e60870;
}

[data-theme="Violet"]:root {
  --bg-color-main: #4e4a51ec;
  --text-color-main: #fff;
  --bg-color-auxiliary-1: rgba(0, 0, 0, 0.2);
  --bg-color-auxiliary-2: rgba(0, 0, 0, 0.6);
  --bg-color-auxiliary-3: rgba(0, 0, 0, 0.1);
  --board-light:#d9bce2;
  --board-dark: #8507ac;
}

[data-theme="Blue"]:root {
  --bg-color-main: #0b101c;
  --text-color-main: #fff;
  --bg-color-auxiliary-1: rgba(0, 0, 0, 0.2);
  --bg-color-auxiliary-2: rgba(0, 0, 0, 0.6);
  --bg-color-auxiliary-3: rgba(0, 0, 0, 0.1);
  --board-light:#cffafe;
  --board-dark: #164e63;
}

[data-theme="Red"]:root {
  --bg-color-main: #1b1919;
  --text-color-main: #ede1e1;
  --bg-color-auxiliary-1: rgba(0, 0, 0, 0.2);
  --bg-color-auxiliary-2: rgba(0, 0, 0, 0.6);
  --bg-color-auxiliary-3: rgba(0, 0, 0, 0.1);
  --board-light:#e7a1a1;
  --board-dark: #ed1010;
}
